@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kalam:wght@300;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: rgb(5, 5, 5);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(98deg, #02b09b61, #5a89fd2e);
  border-radius: 3px;

}

::-webkit-scrollbar-thumb:hover {
  background: #2cf8ffa1;
}


@layer utilities {
  .skill-wrapper {
    @apply relative rounded-2xl bg-[rgba(89, 91, 115, 0.06)] overflow-hidden;
  }

  .skill-wrapper::before {
    background: conic-gradient(rgba(221, 74, 29, 0.7) 120deg,
        rgba(19, 48, 119, 0.7) 120deg,
        rgba(224, 131, 9, 0.7) 100deg,
        transparent 100deg);
    @apply absolute h-full w-full top-0 left-0 content-[''] animate-border-spin z-[-1];
  }

  .skill-content {
    @apply absolute w-[calc(25rem-2px)] h-auto top-[2px] left-[2px] right-[2px] bottom-[2px] bg-[rgba(89, 91, 115, 0.1)] rounded-2xl;
  }

  .home-experience_text-wrapper {
    @apply z-[3] w-[60rem] flex-[1] items-start flex flex-col absolute;
  }

  .home-experience_box-logo {
    @apply z-[2] backdrop-blur-[40px] max-sm-phone:w-[8rem] max-sm-phone:h-[3rem] w-[10rem] h-[3.3rem] outline-offset-0 
    bg-[#5a88fd0e] border-[#ffffff1a] border-[1px] rounded-[3.75rem] outline-[#fff] outline-1 p-[.875rem_1.75rem] items-center justify-center max-sm-phone:p-[.5rem_1.5rem] flex absolute;
  }
}